.about-content-container {
    width: 100%;
    overflow: hidden;
}

.about-content {
    width: 100%;
    margin-top: 20px;
}

.about-img-container {
    width: 45%;
    float: right;
    text-align: center;
}

.about-p-container {
    float: left;
    width: 53%;
}

.about-p-container p {
    margin: 0px 0px 20px 20px;
    width: 110%;
}

.about-p-container a {
    color: white;
    font-style: none;
}

.about-img-container img {
    width: 60%;
    margin-left: 5vmax;
}

@media screen and (max-width: 540px) {
    .about-img-container {
        width: 50%;
        float: right;
        text-align: center;
    }
    .about-p-container {
        float: left;
        width: 49%;
    }
}