.component-container {
    display: inline-block;
    /* border: 1px solid blueviolet; */
    width: 100%;
}

.banner {
    width: 300px;
    margin-left: 15px;
}

.main {
    /* border: 1px solid green; */
    font-family: monospace;
    width: 100%;
}