.nav-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav-item {
    margin: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}

.selected-nav-item {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin: 20px;
    font-size: 20px;
}

.nav-item:hover {
    color: rgba(255, 255, 255, 0.315);
}