.single-item-view {
    margin: 50px;
}

.display-video {
    width: 50%;
    margin: auto;
}

.display-img {
    width: 30%;
    margin: 50px;
}

.single-item-view p a {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.single-item-view a:hover {
    color: rgba(255, 255, 255, 0.315);
    text-decoration: none;
    cursor: pointer;
}

.item-splitter {
    width: 90%;
}

.single-item-text-container {
    width: 50%;
    text-align: center;
    margin: auto;
}


@media screen and (max-width: 540px) {
    .single-item-text-container {
        width: 100%;
        margin: auto;
    }

    .display-video {
        width: 50%;
        margin: auto;
    }
    
    .display-img {
        width: 50%;
        margin: 50px;
    }
}
